In [1]:
a =[5,10 , 15,20]

In [2]:
a

[5, 10, 15, 20]

In [3]:
10 in a

True

In [4]:
3 in a

False

In [9]:
list_of_students = ["Michele", "Sara", "cassie"]
name = input("type your name")
if name  in list_of_students:
    print("this studnets is enrolled.")
else:
    print("this studnets is not enrolled.")

type your namemichele
this studnets is not enrolled.

In [10]:
  a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
  b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

([1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13])

In [14]:
a = set(a)
b = set(b)
a and b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [21]:
from random import randint
a= []
b = []
counter = randint(9,14)
for x in range(counter):
    a.append(randint(0,14))
    b.append(randint(6,22))
    
a = set(a)
b = set(b)
print(a,b)
a = a and b
a

{0, 1, 2, 3, 4, 6, 10, 11, 12, 13, 14} {6, 8, 9, 15, 17, 19, 20, 21, 22}

{6, 8, 9, 15, 17, 19, 20, 21, 22}